<div class="w-5/6 mx-auto max-w-screen-xl text-center mt-16 lg:mt-8 2xl:mt-16">
  <div id="quiz_space">
    <div class="font-noto">
      <div class="text-base md:text-xl text-neutral my-4 md:my-12 lg:my-2 2xl:my-12">実在するチーム名を選んでね！</div>
      <div class="text-xl md:text-3xl lg:text-2xl font-semibold my-6 md:my-10 lg:my-4 2xl:my-10"><%= "問題　#{session[:quiz_count]}/#{Quiz::TOTAL_QUESTIONS}" %></div>
    </div>
    <!-- フォントをランダムで生成 -->
    <div class=<%= use_kaisei_font?(session[:quiz_count]) ? "font-kaisei" : "font-dela" %>>
      <%= form_with url: quizzes_path, method: :post, class: "text-2xl md:text-5xl" do |form| %>
        <div id="choices">
          <% @choices.each_with_index do |choice, idx| %>
            <div class="my-8 flex items-center justify-center gap-2">
              <%= form.radio_button :user_choice, "#{idx}-#{choice}", class: "radio choice", id: "choice-#{idx}" %>
              <%= form.label :user_choice, choice, for: "choice-#{idx}" %><br>
            </div>
          <% end %>
        </div>
        <%= form.submit '解答する', id: "submit_button", class: "font-noto btn md:btn-lg btn-accent md:my-6 lg:my-0 2xl:my-6" %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row items-center lg:justify-center md:mt-12 lg:mt-3 2xl:mt-8" id="answer_space"></div>
</div>
