<%= "#{session[:quiz_count]}問目" %>

<!-- フォントをランダムで生成 -->
<div class="<%= [true, false].sample ? "font-kaisei" : "font-dela" %>">
  <%= form_with url: check_path, method: :post, class: "text-4xl" do |form| %>
    <% @choices.each do |choice| %>
      <div class="my-6">
      <%= form.radio_button :name, choice, class: "radio" %>
      <%= form.label :name, choice %><br>
      </div>
    <% end %>
    <%= form.submit '解答', id: "submit-button", class: "font-noto btn btn-lg" %>
  <% end %>
</div>
