<!DOCTYPE html>
<html>
  <head>
    <!-- Twitter リンクカード -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta property="og:url" content=<%= "#{root_url}" %>  />
    <meta property="og:title" content="Jリーグのチーム名を当てるクイズ" />
    <meta property="og:description" content="少し違うチーム名、ファンのあなたなら気づくはず" />
    <meta property="og:image" content="https://i.gyazo.com/7888539a0445471ba604cc2bbfd268ba.png" />
    <!-- Twitter リンクカードここまで -->
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C0C4EJZ733"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C0C4EJZ733');
    </script>
    <!-- Google Analytics 終了 -->

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="font-noto">
    <%= yield %>
  </body>
</html>
